body{
  background-image: url(sky.jpg) ;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 500px;
}

.headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 25px;
}

.brush-selection {
  height: 70px;
  display: flex;
  padding: 20px;
  flex-direction:column;
  justify-content: space-between;
  align-items: center;
}

.paint {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.palette {
  display: flex;
  margin-left: -30px;
  cursor: pointer;
  margin-bottom: 5px;
}

.brush {
  display: flex;
}

.icon {
  width: 40px;
  height: 40px;
}

.current-brush, .palette-color {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
}

.canvas {
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(20, 1fr);
  height: 500px;
  width: 500px;
  border: 1px solid black;
  cursor: pointer;
  margin-top: 5px;
}

.square {
  transition: 0.5s;
}

.color-1 {
  background-color: lightblue;
}

.color-2 {
  background-color: orange;
}

.color-3 {
  background-color: lightgreen;
}

.color-4 {
  background-color: yellow;
}

.color-5 {
  background-color: white;
}
.color-6 {
  background-color: red;
}
.color-7 {
  background-color: pink;
}
.color-8 {
  background-color: blue;
}
.color-9 {
  background-color: green;
}
.color-10 {
  background-color: purple;
}

div.palette-color{
  border-radius: 20px;
}
